.rock{
   font-size: 2rem; 
   transition: 0.3s;
}
.rock:hover{
    font-size: 5rem; 
    cursor: pointer;
    
}
.paper{
    font-size: 2rem; 
    transition: 0.3s;
 }
 .paper:hover{
    font-size: 5rem; 
    cursor: pointer;
}
 .scissors{
    font-size: 2rem; 
    transition: 0.3s;
 }
 .scissors:hover{
    font-size: 5rem; 
    cursor: pointer;
}
ul {
    list-style-type: none;
}
.options{
    padding-top: 4rem;
}
li{
    margin-right: 2.3rem;
    margin-bottom: 2rem;
    color: red
}